<div class="card" *ngIf="student">
    <div class="card-body">
        <!-- <form> -->
            <div class="mb-3">
              <label for="id">student id</label>
              <input type="number" class="form-control" id="id" [value]="student.id">
            </div>
            <div class="mb-3">
                <label for="firstName">first name</label>
                <input type="text" class="form-control" id="firstName" [value]="student.firstName">
              </div>
              <div class="mb-3">
                <label for="lastName">last name</label>
                <input type="text" class="form-control" id="lastName" [value]="student.lastName">
              </div>
              <div class="mb-3">
                <label for="address">address</label>
                <input type="text" class="form-control" id="address" [value]="student.address">
              </div>
              <div class="mb-3">
                <label for="phone">phone</label>
                <input type="text" class="form-control" id="phone" [value]="student.phone">
              </div>
              <div class="mb-3">
                <label for="avgMark">average mark</label>
                <input type="number" class="form-control" id="avgMark" [value]="student.avgMark">
              </div>
              <div class="mb-3">
                <label for="active">active</label>
                <input type="text" class="form-control" id="active" [value]="student.active">
              </div>
              <div class="mb-3" *ngIf="!student.active">
                <label for="dateLeave">date leave</label>
                <input type="text" class="form-control" id="dateLeave" [value]="student.dateLeave">
              </div>
            
            <button class="btn btn-primary" (click)="save(student)">save</button>
          <!-- </form> -->
    </div>
</div>