<input type="checkbox" [(ngModel)]="showActive" /> Show only active students
<br/>
<ul class="list-group">
    <li *ngFor="let student of students" class="list-group-item" (click)="OnClickStudent(student)"
    [ngClass]="{'list-group-item-danger': !student.active,
                'list-group-item-success': student.avgMark && student.avgMark>=90 }">
        <div class="row">
            <div class="col-1">{{student.id}}</div>
            <div class="col-2">{{student.firstName}}</div>
            <div class="col-2">{{student.lastName}}</div>
            <div class="col-1">{{this._studentService.getTotalMissingDays(student.id)}}</div>
            <div class="col-3">
                <button (click)="delete(student)">delete student</button>

            </div>
            <div class="col-3">
                <button (click)="update(student)">update student</button>
            </div>
        </div>
    </li>
</ul>
<br />
<button class="btn btn-primary" (click)="add()">add student</button>

<br />
<student-details [student]="selectedStudent" (onSave)="saveStudentDetails($event)"></student-details>